<!DOCTYPE html>
<html>
<head>
  <title>Pig Latin!</title>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/style/style.css">
</head>
<body>
  <h1><%= @word %> is translated to <%= @conversion %> in Pig Latin. </h1>
  <div class="new-word">
    <h3>Translate another word!</h3>
    <form method="post" action="/">
    <div class="input">
      <label for="word"></label>
      <input type="text" id="word" name="word"><br />
      <input type="submit" id="submit" value="Submit">
    </div>
  </div>
</body>
</html>
